<%- include('partials/starthtml')%>
    <%- include('partials/header-register')%>
    <img src="../public/images/movie-logo2.png" alt="">
    <img src="../public/images/logo-movies.png" alt="">
    <h1>Welcome to the page!</h1>
    <form action="loginredirect" method="post">
      <button type="submit">Empecemos</button>
    </form>
    <%- include('partials/footer')%>
<%- include('partials/endhtml')%>