<div id="mifooter">
    <div id="izq-footer">
        <h3>Politica de privacidad</h3>
        <h3>Nuestros servicios</h3>
    </div>
    <div id="der-footer">
        <h3>Mis redes</h3>
    </div>
</div>