<div id="header-register">
    <form action="/homeredirect" method="post">
        <button type="submit"  class="redirect">Home</button>
    </form>
        <div id="loginregister">

            <form action="/loginredirect" method="post">
                <button type="submit" class="redirect">Login</button>
            </form>
            <form action="/registerredirect" method="post">
                <button type="submit" class="redirect">Register</button>
            </form>
        </div>

    
</div>
